.user-container {
    margin-top: 2rem;
  }

  .bestof-button {
    margin: 10px 0;
    width: 125px;
    height: 36px;
    border: none;
    padding: 2px 16px;
    box-sizing: border-box;
    border-radius: 20px;
    outline: none;
  }
  
  .bestof-button {
    background: #bd54a4;
    color: #fff;
    cursor: pointer;
  }
  
  .bestof-button:hover {
    background: #c561ae;
  }